<div ng-controller="listController">
		
	<div class="photo" ng-repeat="photo in photos">
		<div class="window">
			<img ng-src="{{photo.media.m}}" alt="Photo from Flickr" ng-click="selectedPhoto($index)">
		</div>
		<div>
			<h3 ng-click="selectedPhoto($index)">{{ (photo.title.length > 0) ? photo.title : 'No title' }}</h3>
			<div class="date">Published {{photo.date_taken | dateSuffix}}</div>
			<a class="author" href="https://www.flickr.com/people/{{photo.author_id}}">Photo author</a>
			
			<a class="flickr" href="{{photo.link}}">View on Flickr</a>
		</div>
	</div>

</div>